.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #333333;
    min-height: 3rem;
    font-family: "Raleway", sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links ul{
    display: flex;
    width: 180px;
    justify-content: space-between;
    list-style-type: none;
}

.navbar-links ul li{
    font-size: larger;
    font-weight: 400;
}

.navbar-links a{
    text-decoration: none;
    color: white;
}

.navbar-links .active{
    color: #E2B07E;
}

.navbar-profile{
    display: flex;
    justify-content: center;
    position: relative;
    background: #C5C5C5;
    border-radius: 3px;
    width: 60px;
    min-height: 1.8rem;
}

.navbar-profile .user-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 80%;
}

.arrow-svg, .user-svg{
    transform: scale(0.95);
    transition: all 0.2s ease;
    fill: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
}

.arrow-svg.open{
    transform: rotateZ(180deg);
}

.login-signup-menu{
    background: white;
    position: absolute;
    top: 6px;
    right: -10px;
    padding: 0.5rem 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    transition: all 0.2s ease;
    transform: scale3d(1,1,1) translate(0, 24px);
}

.login-signup-menu a{
    text-decoration: none;
}

.login-signup-menu .main-menu{
    min-width: 80px;
}

.login-signup-menu ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.login-signup-menu a{
    margin-bottom: 0.4rem;
    cursor: pointer;
}

.login-signup-menu ul li{
    color: #000000;
}

.login-signup-menu ul li:hover{
    color: rgb(82, 79, 79);
}

.main-menu > ul:nth-child(1) > a:nth-child(1) > li:nth-child(1){
    margin-bottom: 0;
    cursor: pointer;
}

.login-signup-menu.hide{
    visibility: hidden;
    transform: scale3d(0, 0, 0);
}

.login-signup-menu .menu-arrow{
    position: absolute;
    top: 0;
    right: 12px;
    z-index: 1000;
    transform: rotateZ(180deg) translate(7px, 10px) scale(1.5);
}

.login-signup-menu .menu-arrow svg path{
    fill: white;
}

.show-dashboard-navbar{
    background: #C5C5C5;
    padding: 5px 10px;
    border-radius: 5px;
}

@media screen and (max-width:500px) {
    .navbar{
        width: 92%;
    }

    .navbar-links ul{
        width: 165px;
    }
}