@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 33vw;
  height: 68vh;
  background: #4e4e4e;
  margin: 65px auto 0;
  word-break: break-all;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
  font-family: "Raleway", sans-serif;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 14px;
  text-align: center;
  color: #f7c08a;
  font-size: 18px;
  width: 50%;
  background: #4e4e4e;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: #f5f5f5;
  border-bottom: 1px solid transparent;
  color: #333333;
}

.inactive-tabs-signup:hover {
  border: 6px solid #333333;
  padding: 8px;
  box-shadow: 2px -2px 4px 0px #00000040 inset;
  border-bottom: 0;
  border-left: 0;
  font-size: 16px;
}

.inactive-tabs-login:hover {
  border: 6px solid #333333;
  padding: 8px;
  box-shadow: 2px 0 4px -2px #00000040 inset;
  border-bottom: 0;
  border-right: 0;
  font-size: 16px;
}

/* .active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
} */

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: #f5f5f5;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.close-btn {
  color: #f7c08a;
  font-size: 22px;
  position: absolute;
  top: 30px;
  right: 280px;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 60vw;
    height: 20vh;
  }
  .tabs {
    font-size: 14px;
  }
  .close-btn {
    top: 30px;
    right: 20px;
    font-size: 18px;
  }
  .content {
    padding-bottom: 10px;
  }
}
